.Notification {
    width: 70vw;
    position: fixed;
    left: 15vw;
    top: 50px;
    z-index: 300;
    background-color: black;
    opacity: .6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all ease .4s;
}
@media screen and (max-width: 500px) {
    .Notification {
        width: 90vw;
        left: 5vw;
    }
}