.Login {
    text-align: left;
    width: 40%;
    align-self: center;
    box-shadow: 1px 1px 3px rgb(231, 231, 231);
    padding: 10px;
    border: 1px solid rgb(231, 231, 231);;
}
.FormInput {
    width: 100%;
    margin-bottom: 20px;
}
.FormInput > input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    color: rgb(88, 88, 88);
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 1em;
}
.test, button {
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}